In [112]:
import pandas as pd

## Answer 1

In [113]:
def answer_one():

    import numpy as np
    import pandas as pd

    energy = pd.read_excel('Energy Indicators.xls', skiprows= 17, skipfooter=38)
    # Drop unnecessary columns
    energy.drop(energy.columns[[0,1]], axis = 1 , inplace = True)
    # Rename the columns
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    # Replacing missing values (set to ...) with np.Nan
    energy.replace('...', np.NaN, inplace=True)
    # Converting Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).
    energy['Energy Supply'] = energy['Energy Supply'].mul(10**6)

    
    def digit_parant_clean(data):

        if data.find('(') > -1:
            data = data[:data.find('(')]   
        data = ''.join([x for x in data if not x.isdigit()])
        
        return data.strip()
    
    # Cleaning the data by removing parentheses and numbers
    energy['Country'] = energy['Country'].apply(digit_parant_clean)
    
    country_rename = {"Republic of Korea" : "South Korea", 
                  "United States of America" : "United States",
                  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                  "China, Hong Kong Special Administrative Region": "Hong Kong"}
    # Renaming countries
    energy.replace({"Country": country_rename},inplace = True)

    gdp = pd.read_csv('world_bank.csv', skiprows=4)
    gdp.rename(columns =  {"Country Name":"Country"}, inplace = True)
    cr  = {"Korea, Rep." : "South Korea",
        "Iran, Islamic Rep.":"Iran",
        "Hong Kong SAR, China": "Hong Kong"}
    # Renaming countries
    gdp.replace({"Country": cr}, inplace = True)
    columnstokeep = ['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    gdp = gdp[columnstokeep]
    # Reading excel file and keeping only 15 rows (rank 1-15), also dropping unnecessary column
    ScimEn = pd.read_excel("country_rank.xlsx", nrows=15).drop(["Region"], axis=1)
    # Merging all df`s together
    df = pd.merge(pd.merge(ScimEn, energy, on='Country'), gdp, on='Country')
    #The index of this DataFrame should be the name of the country
    df.set_index('Country',inplace=True)

    return df

one = answer_one()
one

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,360468,358777,3947871,2705774,10.95,308,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,199442,195042,3068926,881789,15.39,422,9.083800e+10,286.0,11.570980,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,76103,74167,760964,280893,10.00,217,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,56249,55680,633294,136132,11.26,217,1.898400e+10,149.0,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,52572,51156,909276,151672,17.30,267,7.920000e+09,124.0,10.600470,2.709978e+12,3.092996e+12,2.931684e+12,2.417566e+12,2.491397e+12,2.666403e+12,2.706341e+12,2.786315e+12,3.065223e+12,2.934858e+12
Germany,6,47781,46767,641717,133693,13.43,230,1.326100e+10,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,43567,43290,175721,79765,4.03,103,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,39036,38276,787010,125333,20.16,263,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,35991,34424,529459,123042,14.71,192,6.530000e+09,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,35294,35005,503147,87529,14.26,182,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Iran,11,29776,29448,511199,150489,17.17,179,9.172000e+09,119.0,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
France,12,29351,28759,471469,79375,16.06,205,1.059700e+10,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Spain,13,27880,27272,515485,88803,18.49,202,4.923000e+09,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Australia,14,25906,25237,495278,72475,19.12,212,5.386000e+09,231.0,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Brazil,15,25887,25493,260540,60487,10.06,145,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12

## Answer 2

In [29]:
def answer_two():
    #Get the df from question 1
    Top15 = answer_one()
    
    # Calculating the average GDP over the last 10 years for each country and sort it in descending order
    avgGDP = Top15[Top15.columns[10:]].mean(axis=1).sort_values(ascending=False)

    #return Series of average GDP values
    return avgGDP

print(answer_two())

Country
United States         1.570403e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.780276e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Iran                  4.563261e+11
dtype: float64

## Answer 3

In [28]:
def answer_three():
    #Get the df from question 1
    Top15 = answer_one()
    # Get a name of the country with the 6th largest average GDP (.index[5]) (since i cant use answer_two() function i do the same as i did there)
    six_largest_gdp_country = Top15[Top15.columns[10:]].mean(axis=1).sort_values(ascending=False).index[5]

    # Calculating how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP
    span = Top15.loc[six_largest_gdp_country]['2015'] - Top15.loc[six_largest_gdp_country]['2006']

    return span

print(answer_three())

118652421857.7998

## Answer 4

In [27]:
def answer_four():
    #Get the df from question 1
    Top15  = answer_one()
    # Calculate the ratio
    Top15["Self-citations to Citations ratio"] = Top15['Self-citations'] / Top15['Citations']
    
    # Return the tuple with the name of the country with max ratio and it`s ratio
    return (Top15["Self-citations to Citations ratio"].idxmax(), Top15["Self-citations to Citations ratio"].max())

print(answer_four())

('China', 0.6853754846599598)

## Answer 5

In [25]:
def answer_five():
    #Get the df from question 1
    Top15 = answer_one()

    #Calculate the population based on the energy supply per capita
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']

    #Return the country name with max population
    return Top15['Population'].idxmax()

print(answer_five())

China

## Answer 6

In [26]:

def answer_six():
    #Get the df from question 1
    Top15 = answer_one()
    #Calculate the population based on the energy supply per capita again 
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    #Calculate the Citable Documents per person based on the population
    Top15['Citable Documents per person'] = Top15['Citable documents'] / Top15['Population']
    
    return Top15['Citable Documents per person'].corr(Top15['Energy Supply per Capita'])
    
print(answer_six())

0.7114342527331208

## Answer 7

In [109]:
def answer_seven():
    #Get the df from question 1
    Top15 = answer_one()

    #Calculate the population based on the energy supply per capita again 
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America',
                  }
    
    #Turning dict to series object so indices with Top15 will match
    ContinentDict= pd.Series(ContinentDict)

    #Assigning new column "Continent" based on country
    Top15 = Top15.assign(Continent = ContinentDict)

    #Grouping by Continent and using only Population column
    grouped_population = Top15.groupby('Continent')['Population']

    #New DataFrame with all metrics we are interested in
    newdf = grouped_population.agg(['count', 'sum', 'mean', 'std'])

    #Renaming the columns
    newdf.columns = ['size', 'sum', 'mean', 'std']
    #Dealing with missing values
    newdf['std'].fillna(0, inplace= True)
    
    return newdf

seven = answer_seven()
seven

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07  0.000000e+00
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08  0.000000e+00